name: rax3000me_immortalwrt-24

on:
  workflow_dispatch:
  # 如果需要定时编译，取消下面注释
  # schedule:
  #   - cron: '0 4 1 * *'

env:
  REPO_URL: https://github.com/immortalwrt/immortalwrt.git
  REPO_BRANCH: openwrt-24.10
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: 检查项目分支
      uses: actions/checkout@main

    - name: 初始化编译环境
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo rm -rf /etc/apt/sources.list.d/* /usr/share/dotnet /usr/local/lib/android /opt/ghc
        sudo apt update
        sudo bash -c 'bash <(curl -s https://build-scripts.immortalwrt.org/init_build_environment.sh)'
        sudo apt autoremove --purge
        sudo apt clean
        sudo timedatectl set-timezone "$TZ"
        sudo chown $USER:$GROUPS /mnt
        echo "FIRMWARE_VERSION=$(date +"%y%m%d")" >> $GITHUB_ENV
        echo "START_DATE=$(date +%s)" >> $GITHUB_ENV

    - name: 下载源码
      working-directory: /mnt
      run: |
        df -hT $PWD
        git clone --single-branch -b $REPO_BRANCH $REPO_URL openwrt
        cd openwrt
        echo "openwrt_root=$PWD" >> $GITHUB_ENV

    - name: 加载软件源
      env:
        FEEDS_CONF: ${{ github.workflow }}/feeds.conf.default
        DIY_P1_SH: ${{ github.workflow }}/diy1.sh
      run: |
        [ -e $FEEDS_CONF ] && mv $FEEDS_CONF $openwrt_root/feeds.conf.default
        chmod +x $DIY_P1_SH
        cd $openwrt_root
        $GITHUB_WORKSPACE/$DIY_P1_SH

    - name: 更新并安装软件源
      run: cd $openwrt_root && ./scripts/feeds update -a && ./scripts/feeds install -a

    - name: 加载自定义配置
      env:
        CONFIG_FILES: ${{ github.workflow }}/files
        CONFIG_FILE: ${{ github.workflow }}/custom.config
        DIY_P2_SH: ${{ github.workflow }}/diy2.sh
      run: |
        [ -e $CONFIG_FILES ] && mv $CONFIG_FILES $openwrt_root/files
        [ -e $CONFIG_FILE ] && mv $CONFIG_FILE $openwrt_root/.config
        chmod +x $DIY_P2_SH
        cd $openwrt_root
        $GITHUB_WORKSPACE/$DIY_P2_SH

    - name: 下载包
      id: package
      run: |
        cd $openwrt_root
        make defconfig
        make download -j8
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;

    - name: 编译固件
      id: compile
      run: |
        cd $openwrt_root
        echo -e "$(nproc) thread compile"
        make -j$(nproc) || make -j1 V=s
        echo "status=success" >> $GITHUB_OUTPUT

    - name: 整理文件
      id: organize
      if: steps.compile.outputs.status == 'success' && !cancelled()
      run: |
        # 删除不需要的文件，只保留固件
        cd $openwrt_root/bin/targets/*/*
        rm -rf packages
        rm -rf version.buildinfo
        rm -rf profiles.json
        rm -rf *squashfs-rootfs*
        rm -rf *kernel*
        rm -rf *.manifest
        rm -rf feeds.buildinfo
        rm -rf sha256sums
        
        # 重命名固件文件
        for file in immortalwrt*; do
          mv "$file" "${file/immortalwrt/${{ github.workflow }}-$FIRMWARE_VERSION}"
        done
        
        echo "FIRMWARE=$PWD" >> $GITHUB_ENV
        echo "status=success" >> $GITHUB_OUTPUT

    - name: 上传固件到 Github Actions Artifacts
      if: steps.organize.outputs.status == 'success' && !cancelled()
      uses: actions/upload-artifact@main
      with:
        name: ${{ github.workflow }}-$FIRMWARE_VERSION
        path: ${{ env.FIRMWARE }}

    - name: 生成 Release 标签
      id: tag
      if: steps.organize.outputs.status == 'success' && !cancelled()
      run: |
        echo "编译时间：$(date -d "@$START_DATE" +"%Y年%m月%d日 %H点%M分")" >> release.txt
        echo "默认网关：192.168.1.1" >> release.txt
        echo "status=success" >> $GITHUB_OUTPUT

    - name: 发布到 Github Release
      uses: softprops/action-gh-release@v2
      if: steps.tag.outputs.status == 'success' && !cancelled()
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.workflow }}-${{ env.FIRMWARE_VERSION }}
        body_path: release.txt
        files: ${{ env.FIRMWARE }}/*
